.app-fallback {
  background-color: #122b00;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.stats-gl {
  position: absolute;
  top: 100px;
  left: 0;
}
